nav {
    position: fixed;
    width: 120px;
    height: 100vh;
    box-sizing: border-box;
    padding: 64px 24px;
    display: grid;
    gap: 18px;
    align-content: space-between;
    color: white;

    h1 {
        writing-mode: tb-rl;
        transform: rotate(180deg);
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 500;
    }

    .menu_wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: 160px;

        h2 {
            font-weight: 300;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #8b8b8b;
        }

        .menu {
            display: flex;
            flex-direction: column;
            gap: 12px;


            .lines {
                cursor: pointer;

                hr {
                    margin: 8px 0 0 0;
                    height: 3px;
                    background-color: white;
                    border: none;
                    width: 100%;

                    &:nth-of-type(2) {
                        width: 80%;
                        text-align: start;
                    }

                }
            }

        }

        .menu_items {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h3 {
                font-size: 0;
                visibility: hidden;
            }

        }

        .menu:hover {

            .lines {

                hr {

                    &:nth-of-type(1) {
                        text-align: start;
                        animation: hr1 1s ease-in-out infinite;
                    }

                    &:nth-of-type(2) {
                        text-align: start;
                        animation: hr2 1s ease-in-out infinite;
                    }

                }
            }

            .menu_items h3 {
                color: #8b8b8b;
                cursor: pointer;
                font-weight: 300;
                letter-spacing: 2px;
                font-size: initial;
                height: min-content;
                visibility: visible;
                transition: font-size 0.4s ease-in-out;

                &:hover {
                    color: white;
                }

            }
        }
    }

    .social_media {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

}

@keyframes hr1 {
    0% {
        width: 100%;
    }

    50% {
        width: 80%;
    }
    100% {
        width: 100%;
    }
}

@keyframes hr2 {
    0% {
        width: 80%;
    }

    50% {
        width: 100%;
    }
    100% {
        width: 80%;
    }
}

@keyframes hr {
    0% {
        width: 70px;
    }

    50% {
        width: 30px;
    }
    100% {
        width: 70px;
    }
}
.primary_section {
    color: white;
    margin-left: 120px;
    background-image: url("images/DALL·E_2024_02_26_14_21_11_A_close_up_view_of_a_part_of_a_modern.webp");
    height: 95vh;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title_wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 180px 0 0 0;
        width: 50vw;
        left: 50%;
        transform: translateX(-20%);

        span {
            font-size: 32px;
        }

        h2 {
            font-weight: 500;
            font-size: 128px;
        }

        p {
            padding-top: 16px;
            font-weight: 200;
            font-size: 18px;
        }
    }

    .more {
        cursor: pointer;
        align-self: end;
        font-size: 24px;
        display: flex;
        padding-top: 48px;
        color: #1f546f;
        width: min-content;
        gap: 8px;

        hr {
            border: none;
            background-color: #1f546f;
            height: 2px;
            width: 70px;
            animation: hr 3s ease-in-out infinite;
        }
    }

    .images {
        align-self: end;
        display: flex;
        gap: 32px;
        margin-bottom: 32px;

        img {
            width: 320px;
            height: 200px;

            &:last-of-type {
                width: 200px;
                object-fit: cover;
            }
        }
    }
}

.about_section {
    margin-left: 120px;
    padding: 64px 48px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 96px;
    align-items: center;
    justify-items: center;

    .description {
        .about_wrapper {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 60vh;


            h3 {
                font-size: 96px;
                font-weight: 200;
                align-self: flex-end;
                letter-spacing: 2px;

            }

            h2 {
                font-size: 96px;
                font-weight: 500;
                padding-bottom: 150px;
                align-self: flex-end;
                letter-spacing: 2px;
            }

            &:before {
                content: '';
                position: absolute;
                z-index: -1;
                display: block;
                height: 500px;
                width: 500px;
                background-image: url("images/letter-a.png");
                background-repeat: no-repeat;
                background-size: contain;
            }
        }

        p {
            line-height: 24px;
            font-weight: 200;
            font-size: 20px;
        }
    }

    .information {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 96px;

        span {
            color: #8b8b8b;
            font-size: 18px;
            padding-bottom: 12px;
        }

        h3 {

            font-size: 96px;
            font-weight: 500
        }

        p {
            letter-spacing: 2px;
            font-weight: 400;
            font-size: 20px;
        }
    }

}