nav {
    position: fixed;
    width: 120px;
    height: 100vh;
    box-sizing: border-box;
    padding: 64px 24px;
    display: grid;
    gap: 18px;
    align-content: space-between;
    color: white;

    a {
        text-decoration: none;
    }

    h1 {
        writing-mode: tb-rl;
        transform: rotate(180deg);
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 500;
    }

    .menu_wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: 160px;

        h2 {
            font-weight: 300;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #8b8b8b;
        }

        .menu {
            display: flex;
            flex-direction: column;
            gap: 12px;


            .lines {
                cursor: pointer;

                hr {
                    margin: 8px 0 0 0;
                    height: 3px;
                    background-color: white;
                    border: none;
                    width: 100%;

                    &:nth-of-type(2) {
                        width: 80%;
                        text-align: start;
                    }
                }
            }

        }

        .menu_items {
            display: flex;
            flex-direction: column;
            gap: 20px;

            h3 {
                font-size: 0;
                visibility: hidden;
            }
        }

        .menu:hover {
            .lines {
                hr {
                    &:nth-of-type(1) {
                        text-align: start;
                        animation: hr1 1s ease-in-out infinite;
                    }

                    &:nth-of-type(2) {
                        text-align: start;
                        animation: hr2 1s ease-in-out infinite;
                    }
                }
            }

            .menu_items h3 {
                color: #8b8b8b;
                cursor: pointer;
                font-weight: 300;
                letter-spacing: 2px;
                font-size: initial;
                height: min-content;
                visibility: visible;

                &:hover {
                    color: white;
                }
            }
        }
    }

    .social_media {
        display: flex;
        flex-direction: column;
        gap: 48px;
    }

    @media screen and (max-width: 500px) {
        padding: 64px 12px;
        width: 100px;
    }
}

@keyframes hr1 {
    0% {
        width: 100%;
    }

    50% {
        width: 80%;
    }
    100% {
        width: 100%;
    }
}

@keyframes hr2 {
    0% {
        width: 80%;
    }

    50% {
        width: 100%;
    }
    100% {
        width: 80%;
    }
}

@keyframes hr {
    0% {
        width: 70px;
    }

    50% {
        width: 30px;
    }
    100% {
        width: 70px;
    }
}

.message {
    visibility: hidden;
    position: fixed;
    margin-right: 35px;
    opacity: 0;
    z-index: 3;
    bottom: 50px;
    left: 250px;
    background-color: white;
    color: #1f1f25;
    padding: 20px;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    transition: opacity 0.2s ease, visibility 0.2s ease;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
    transition-delay: 1s;

    a {
        text-decoration: none;
        color: #1f546f;
        font-weight: 500;
        transition: 0.2s ease;

        &:hover {
            color: #297095;
        }
    }

    @media screen and (max-width: 500px) {
        left: 200px;

    }

}

.mascot {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    left: 130px;
    z-index: 4;
    opacity: 0;
    animation: mascot 3s ease-in-out, spin 2s ease infinite;
    animation-delay: 5s, 10s;
    animation-fill-mode: forwards;

    &:hover {
        animation-play-state: paused;
    }

    @media screen and (max-width: 500px) {
        left: 75px;

    }
}

.mascot_wrapper:hover .message {
    opacity: 1;
    visibility: visible;
}

@keyframes mascot {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    50% {
        opacity: 1;

    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes spin {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

.primary_section {
    color: white;
    margin-left: 120px;
    background-image: url("images/modern-interior.webp");
    height: 95vh;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title_wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        padding: 180px 0 0 0;
        width: 50vw;
        left: 50%;
        transform: translateX(-20%);

        span {
            font-size: 32px;
        }

        h2 {
            font-weight: 500;
            font-size: 128px;
        }

        p {
            padding-top: 16px;
            font-weight: 200;
            font-size: 18px;
        }
    }

    .more {
        text-decoration: none;
        cursor: pointer;
        align-self: end;
        font-size: 24px;
        display: flex;
        padding-top: 48px;
        /*color: #1f546f;*/
        width: min-content;
        gap: 8px;

        hr {
            border: none;
            background-color: #0d6efd;
            height: 2px;
            width: 70px;
            animation: hr 3s ease-in-out infinite;
        }
    }

    .images {
        align-self: end;
        display: flex;
        gap: 32px;
        margin-bottom: 32px;

        img {
            width: 320px;
            height: 200px;

            &:last-of-type {
                width: 200px;
                object-fit: cover;
            }
        }
    }

    @media screen and (max-width: 1050px) {
        .title_wrapper {
            h2 {
                font-size: 96px;
            }
        }
    }
    @media screen and (max-width: 950px) {
        height: auto;
        background-size: cover;

        .title_wrapper {
            position: static;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            padding: 48px;
            width: auto;
            left: 0;
            transform: none;
        }

        .more {
            color: white;

            hr {
                background-color: white;
            }
        }
    }
    @media screen and (max-width: 730px) {
        .images {
            display: none;
        }
    }
    @media screen and (max-width: 500px) {
        background-image: url("images/interior_for_mobile.webp");
        background-color: rgba(0, 0, 0, 0.4);
        background-blend-mode: darken;

        .title_wrapper {
            padding: 32px;

            h2 {
                font-size: 64px;
            }
        }
    }
}

.about_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 60vh;


    h3 {
        font-size: 96px;
        font-weight: 200;
        align-self: flex-end;
        letter-spacing: 2px;

    }

    h2 {
        font-size: 96px;
        font-weight: 500;
        padding-bottom: 150px;
        align-self: flex-end;
        letter-spacing: 2px;
    }

    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        display: block;
        height: 500px;
        width: 500px;
        background-image: url("images/letter-a.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    @media screen and (max-width: 1300px) {
        &:before {
            height: 400px;
            width: 400px;
        }
    }
    @media screen and (max-width: 1050px) {
        padding-top: 48px;
        height: min-content;
        h3, h2 {
            font-size: 64px;
        }

        h2 {
            padding-bottom: 64px;

        }

        &:before {
            height: 300px;
            width: 300px;
        }
    }
}

.about_section {
    margin-left: 120px;
    padding: 64px 48px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 96px;
    align-items: center;
    justify-items: center;

    .description {
        p {
            line-height: 24px;
            font-weight: 200;
            font-size: 20px;
        }
    }

    .information {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 96px;

        span {
            color: #8b8b8b;
            font-size: 18px;
            padding-bottom: 12px;
        }

        h3 {

            font-size: 96px;
            font-weight: 500
        }

        p {
            letter-spacing: 2px;
            font-weight: 400;
            font-size: 20px;
        }
    }

    @media screen and (max-width: 1050px) {
        grid-template-columns: 1fr;
        .about_wrapper {
            h3, h2 {
                padding-left: 20vw;
                align-self: flex-start;
            }
        }
    }
    @media screen and (max-width: 730px) {
        .information {
            gap: 32px;

            span {
                font-size: 16px;
            }

            h3 {
                font-size: 64px;
            }

            p {
                font-size: 18px;
            }
        }
    }
    @media screen and (max-width: 550px) {
        .about_wrapper {
            h3, h2 {
                padding-left: 0;
                align-self: flex-start;
            }
        }
    }

}

/*.gallery_section {*/
/*    margin-left: 120px;*/
/*    padding: 64px 48px;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    align-items: center;*/


/*    h2 {*/
/*        color: #282832;*/
/*        font-size: 15vw;*/
/*        font-weight: 700;*/
/*        text-align: center;*/
/*        z-index: -1;*/
/*    }*/

/*    .gallery {*/
/*        display: grid;*/
/*        grid-template-columns: min-content min-content;*/
/*        gap: 64px;*/
/*        @media screen and (max-width: 1200px) {*/
/*            gap: 48px;*/
/*        }*/

/*        figure {*/
/*            overflow: hidden;*/
/*            cursor: pointer;*/
/*        }*/

/*        img, figure {*/
/*            height: 600px;*/
/*            width: auto;*/
/*            transition: .4s ease-in-out;*/
/*            @media screen and (max-width: 1200px) {*/
/*                height: 500px;*/
/*            }*/
/*            @media screen and (max-width: 1100px) {*/
/*                height: 400px;*/
/*            }*/

/*        }*/

/*        figure:nth-of-type(2n) {*/
/*            margin-top: -64px;*/
/*        }*/

/*        & figure:hover img {*/
/*            transform: scale(1.2);*/
/*        }*/

/*        @media screen and (max-width: 1200px) {*/
/*            img, figure {*/
/*                height: 500px;*/
/*            }*/
/*        }*/
/*        @media screen and (max-width: 1100px) {*/
/*            img, figure {*/
/*                height: 400px;*/
/*            }*/
/*        }*/
/*        @media screen and (max-width: 950px) {*/
/*            display: flex;*/
/*            flex-wrap: wrap;*/
/*            gap: 32px;*/
/*            justify-content: center;*/
/*            img, figure {*/
/*                height: 300px;*/
/*            }*/

/*            figure:nth-of-type(2n) {*/
/*                margin-top: 0;*/
/*            }*/
/*        }*/
/*        @media screen and (max-width: 730px) {*/
/*            img, figure {*/
/*                width: 100%;*/
/*                height: auto;*/
/*            }*/

/*            figure:nth-of-type(2n) {*/
/*                margin-top: 0;*/
/*            }*/
/*        }*/
/*    }*/
/*}*/

.discount_section {
    display: none;
}

@media screen and (max-width: 500px) {
    .discount_section {
        padding: 18px 24px;
        display: flex;
        margin-left: 100px;
        background-color: #1f546f;
        font-style: italic;
        color: #1f1f25;
        font-size: 20px;
        a{
            text-decoration: none;
            color: white;
            &:hover{
                color: #8b8b8b;
            }
        }
    }
}

.testimonial_section {
    margin-left: 120px;
    padding: 64px 48px;
    display: flex;
    flex-direction: column;

    .about_wrapper {
        h3, h2 {
            padding-left: 20vw;
            align-self: flex-start;
        }

        &:before {
            background-image: url("images/letter-w.png");
        }

    }

    .testimonials {
        padding-top: 96px;

        .testimonial {
            width: 20vw;
            padding: 64px 32px;
            display: grid;
            grid-template-rows: 1fr 0.5fr 2fr;
            gap: 18px;
            background-color: rgba(0, 0, 0, 0.4);
            background-repeat: no-repeat;
            background-size: cover;
            background-blend-mode: darken;

            span {
                font-size: 96px;
                font-weight: 500
            }

            h3 {
                letter-spacing: 2px;
                font-weight: 500;
                font-size: 32px;
            }

            p {
                font-weight: 200;
                font-size: 20px;
            }

            &:nth-of-type(1) {
                background-image: url("images/white-iterior-testimonial.webp");
            }

            &:nth-of-type(2) {
                background-image: url("images/yellow-interier-testimonial.webp");

            }

            &:nth-of-type(3) {
                background-image: url("images/dark-interior-testimonial.webp");

            }
        }

        @media screen and (max-width: 1340px) {
            .testimonial {
                width: 30vw;
            }
        }
        @media screen and (max-width: 1050px) {
            padding-top: 48px;
            .testimonial {
                width: 100vw;
            }
        }
    }

    .clients {
        padding-top: 128px;
        justify-content: center;

        img {
            cursor: pointer;
            opacity: 0.6;
            filter: invert(0.815);
            transition: all .3s ease-in-out;

            &:hover {
                opacity: 1;

            }

            @media screen and (max-width: 1300px) {
                transform: scale(0.8);
            }
        }
    }

    @media screen and (max-width: 550px) {
        .about_wrapper {
            h3, h2 {
                padding-left: 0;
            }
        }
    }
}

.contact_section {
    margin-left: 120px;
    padding-top: 96px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, min-content);

    .contact {
        margin-bottom: -400px;
        grid-column: 2;
        grid-row: 1;
        background-color: #2c2b32;
        padding: 96px;
        display: flex;
        flex-direction: column;
        gap: 64px;

        h2 {
            font-size: 64px;
            font-weight: 500;
        }

        .contact_inputs {
            display: flex;
            gap: 96px;
        }

        .input-container {
            position: relative;

        }


        .input-field {
            display: block;
            width: 100%;
            padding: 10px;
            font-size: 20px;
            border: none;
            border-bottom: 2px solid #ccc;
            outline: none;
            background-color: transparent;
        }

        .input-label {
            position: absolute;
            bottom: 15px;
            left: 0;
            font-size: 20px;
            color: #757575;
            pointer-events: none;
            transition: all 0.3s ease;
        }

        .input-highlight {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 0;
            background-color: #1f546f;
            transition: all 0.3s ease;
        }

        .input-field:focus + .input-label {
            top: -30px;
            font-size: 20px;
            color: #1f546f;
        }

        .input-field:not(:placeholder-shown) + .input-label {
            top: -30px;
            font-size: 20px;
            color: #1f546f;
        }

        .input-field:focus + .input-label + .input-highlight {
            width: 100%;
        }

        .input-field:not(:placeholder-shown) + .input-label + .input-highlight {
            width: 100%;
        }

        button {
            width: min-content;
            padding: 18px 24px;
            font-size: 18px;
            border: 2px solid white;
            color: white;
            background-color: transparent;
            display: inline-block;

        }
    }

    .contact_info {
        height: 40vh;
        padding: 96px;
        grid-column: 1/3;
        grid-row: 2;
        background-color: #0f0f12;
        display: flex;
        flex-direction: column;
        gap: 32px;

        h3 {
            font-size: 64px;
            font-weight: 500;
        }

        a {
            text-decoration: none;
            color: white;
            letter-spacing: 2px;
            font-weight: 300;
            transition: .4s ease;

            &:hover {
                color: #8b8b8b;
            }
        }
    }

    @media screen and (max-width: 1260px) {
        .contact_info {
            grid-column: 1;
            padding: 64px;
        }

        .contact .contact_inputs {
            flex-direction: column;
            gap: 64px;

        }

        .contact_info h3, .contact h2 {
            font-size: 48px;
        }
    }
    @media screen and (max-width: 950px) {
        .contact_info {
            grid-column: 1/3;
            grid-row: 2;
            height: min-content;
        }

        .contact {
            padding: 64px;
            gap: 48px;
            margin-bottom: 0;
            grid-column: 1/3;
            grid-row: 1;

            .contact_inputs {
                gap: 48px;
            }
        }
    }
}

@media screen and (max-width: 550px) {
    .about_section, .gallery_section, .testimonial_section {
        padding-left: 0;
        padding-right: 32px;
    }
}

@media screen and (max-width: 500px) {
    .primary_section, .about_section, .gallery_section, .testimonial_section, .contact_section {
        margin-left: 100px;
    }
}